<!DOCTYPE html>
<html lang="pt-BR"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Lazuli Doces | Receitas</title>

        <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.13.2/jquery-ui.css}">

        <script th:src="@{/js/pages/receita/cadastro/script.js}"></script>

    </head>
    <body>
        <div layout:fragment="page" class="container pt-5 mb-3">
            <form th:object="${receita}" th:action="@{receita/salvar}">
                <div id="form-group-salvar" class="col-md-6 mb-2">
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Salvar
                    </button>
                </div>

                <div id="form-group-produto-final" class="col-md-6">

                    <label class="form-label" for="input-produto-final">Produto Final</label>
                    <div class="input-group" id="div-produto-final-null">
                        <input class="form-control" id="input-produto-final" th:field="*{produtoFinal}">

                        <!-- TODO: Implementar busca por modal -->
                        <!-- <button id="button-buscar-produto-final" type="button" class="btn btn-outline-secondary" -->
                        <!--         onclick="buscarProdutoModal()" th:if="${receita.produtoFinal == null}"> -->
                        <!--     <i class="fa-solid fa-magnifying-glass"></i> -->
                        <!-- </button> -->
                    </div>

                    <div class="input-group" id="div-produto-final-selecionado" style="display: none;">
                        <input class="form-control" id="input-produto-final-selecionado" disabled>
                        <button id="button-remove-produto-final" type="button" class="btn btn-outline-secondary"
                                onclick="removerProdutoFinal()">
                            <i class="fa-sharp fa-solid fa-circle-xmark"></i>
                        </button>
                    </div>
                </div>

                <div id="modal-produtos-encontrados" class="modal">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">
                                    Produtos Encontrados:
                                </h3>
                            </div>
                            <div class="modal-body">
                                <!-- Gerado pelo JS -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Cancelar
                                </button>
                                <button class="btn btn-primary" type="button" onclick="selecionarProdutoFinalPorModal()">
                                    Selecionar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
