<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lazuli Doces | Receitas</title>
</head>
<body>
    <div layout:fragment="page" id="page" class="container pt-5 mb-3">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Produto Final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Cone</td>
                    <td>Cone Di Ferreiro</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
