<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav th:fragment="header" id="navbar" class="navbar navbar-dark" style="background-color: #5099b9">
        <div class="container-fluid">
            <a class="navbar-brand rounded-pill" id="navbar-inicio" style="padding: 8px; background-color: #61acce" th:href="@{/}">
                <img th:src="@{/assets/lazuli-doces-v2-min.png}" alt="" width="60" height="60" style="padding: 3px" class="d-inline-block rounded-circle bg-light">
                Lazuli Doces
            </a>
        </div>
    </nav>
</body>
</html>
