<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>

<body>
    <div th:fragment="sidebar" id="sidebar" class="container d-inline-block flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">

        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
               id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-circle-user fa-2x me-2"></i>
                <strong class="fs-5" th:text="${
                    #strings.capitalize(
                        #strings.toLowerCase(
                            #strings.arraySplit(usuario.pessoa.nome, ' ')[0]
                        )
                    )
                }"></strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item disabled" href="#">Configurações</a></li>
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" th:href="@{'/usuario/logout'}">Sair</a></li>
            </ul>
        </div>

        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a th:href="@{/produto/lista?tipoProduto=venda&pagina=0&conteudoPorPagina=10}" class="nav-link link-dark">
                    <i class="fa-solid fa-cake"></i>
                    Produtos
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Vendas
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="fa-solid fa-address-card"></i>
                    Clientes
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="fa-solid fa-cash-register"></i>
                    Compras
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="fa-solid fa-circle-dollar-to-slot"></i>
                    Precificação
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="fa-solid fa-shop"></i>
                    Fornecedores
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-dark">
                    <i class="fa-solid fa-chart-line"></i>
                    Relatórios
                </a>
            </li>
        </ul>
        <hr>
    </div>

    <div class="b-example-divider"></div>
</body>
</html>
