<!DOCTYPE html>
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/laytout">
<head>
    <meta charset="UTF-8">
    <title>Lazuli Doces</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Elvis Liberato de Barros" />
    <link rel="icon" th:href="@{/assets/lazuli-doces-v2-min.png}" />

    <!--    Webjars -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.0.0/css/all.min.css">

    <!--    CSS customizado -->
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">

    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/6.0.0/js/all.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/6.0.0/js/solid.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.js}"></script>
    <script>
        <!-- Inclui titles (tooltip) do bootstrap -->
        $(function() {
            $('[data-bs-toggle="tooltip"]').tooltip();
        })
    </script>

</head>
<body>

    <header th:replace="fragments/header::header"></header>

    <div class="container-fluid">
        <div th:replace="fragments/sidebar::sidebar"></div>

        <section class="container d-inline-flex flex-column align-top col-9">
            <div layout:fragment="page"></div>
        </section>
    </div>
</body>
</html>
