<!DOCTYPE html>
<html lang="pt-BR"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lazuli Doces | Produtos</title>

    <script type="application/javascript" th:inline="javascript">
        const paginacao = /*[[${paginacao}]]*/ "";
        const tipoProduto = /*[[${tipoProduto}]]*/ "";
    </script>

    <script th:src="@{/webjars/jquery/jquery.js}"></script>
    <script th:src="@{/js/pages/produto/lista/script.js}"></script>
</head>
<body>
    <div layout:fragment="page" id="page" class="container pt-5">
        <ul id="abas" class="nav nav-tabs">
            <li id="venda-tab" class="nav-item">
                <a id="venda-link" class="nav-link"
                   href="#" onclick="selecionaAba('venda')">
                    Produtos de Venda
                </a>
            </li>
            <li id="ingrediente-tab" class="nav-item">
                <a id="ingrediente-link" class="nav-link"
                   href="#" onclick="selecionaAba('ingrediente')">
                    Ingredientes
                </a>
            </li>
        </ul>

        <nav>
            <ul class="pagination mt-3 justify-content-end">
                <li id="primeira-pagina" class="page-item">
                    <a class="page-link" onclick="alteraPagina(0)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li id="pagina-anterior" class="page-item" onclick="alteraPagina(paginacao.number - 1)">
                    <a  class="page-link" href="#">&lt;</a>
                </li>
                <li id="pagina-atual" class="page-item">
                    <a class="page-link" href="#">-</a>
                </li>
                <li id="pagina-seguinte" class="page-item">
                    <a class="page-link" onclick="alteraPagina(paginacao.number + 1)">&gt;</a>
                </li>
                <li id="ultima-pagina" class="page-item">
                    <a class="page-link" onclick="alteraPagina(paginacao.totalPages - 1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Tabela de Produtos para Venda -->
        <table class="table table-striped"
               th:if="${#strings.toUpperCase(tipoProduto) == 'VENDA'}">
            <thead th:replace="fragments/produto/tabela-produto::header-tabela
            (${ {
                'ID',
                'Descrição',
                'Preço de Venda',
                'Qtd. Estoque'
            } })">
            </thead>

            <tbody>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.idProduto}"></td>
                    <td th:text="${produto.descricaoBasica}"></td>
                    <td th:text="'R$ 2,80'"></td>
                    <td th:text="${produto.quantidadeEstoque}"></td>
                </tr>
            </tbody>
        </table>

        <!-- Tabela de Ingredientes -->
        <table class="table table-striped"
               th:if="${#strings.toUpperCase(tipoProduto) == 'INGREDIENTE'}">
            <thead th:replace="fragments/produto/tabela-produto::header-tabela
            (${ {
                'ID',
                'Descrição',
                'Marca',
                'Qtd. Estoque',
                'Custo',
                'Local Compra'
            } })">
            </thead>

            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.idProduto}"></td>
                <td th:text="${produto.descricaoBasica}"></td>
                <td th:text="${produto.marca != null} ? ${produto.marca.nome} : ''"></td>
                <td th:text="${produto.quantidadeEstoque} != null ? ${produto.quantidadeEstoque} : ''"></td>
                <td th:text="'R$ 5,50'"></td>
                <td th:text="'Higas'"></td>
            </tr>
            </tbody>
        </table>

    </div>
</body>
</html>
