<!DOCTYPE html>
<html lang="pt-BR"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lazuli Doces | Produtos</title>

    <script type="application/javascript" th:inline="javascript">
        const paginacao = /*[[${paginacao}]]*/ "";
        const tipoProduto = /*[[${tipoProduto}]]*/ "";
    </script>

    <script th:src="@{/webjars/jquery/jquery.js}"></script>
    <script th:src="@{/js/pages/produto/lista/script.js}"></script>
</head>
<body>
    <div layout:fragment="page" id="page" class="container pt-5 mb-3">
        <ul id="abas" class="nav nav-tabs">
            <li id="venda-tab" class="nav-item">
                <a id="venda-link" class="nav-link"
                   href="#" onclick="selecionaAba('venda')">
                    Produtos de Venda
                </a>
            </li>
            <li id="ingrediente-tab" class="nav-item">
                <a id="ingrediente-link" class="nav-link"
                   href="#" onclick="selecionaAba('ingrediente')">
                    Ingredientes
                </a>
            </li>
        </ul>

        <nav class="container-fluid mt-3">
            <button class="btn btn-success" onclick="cadastrarProduto()">Cadastrar</button>

            <ul class="pagination d-inline-flex float-end justify-content-end">
                <li id="dropdown-quantidade-item-pagina" class="me-3">
                    <div class="dropdown">
                        <button id="button-dropdown-quantidade-item-pagina" class="btn btn-primary dropdown-toggle"
                                type="button" data-bs-toggle="dropdown"
                                th:text="${paginacao.content.size} + ' de ' + ${paginacao.totalElements}">
                            Quantidade
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#" onclick="setQuantidadeItensPorPagina(10)">10</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" onclick="setQuantidadeItensPorPagina(25)">25</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" onclick="setQuantidadeItensPorPagina(50)">50</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" onclick="setQuantidadeItensPorPagina(100)">100</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li id="li-primeira-pagina" class="page-item">
                    <button class="page-link" type="button" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Ir para primeira página" onclick="alteraPagina(0)">
                        &laquo;
                    </button>
                </li>

                <li id="li-pagina-anterior" class="page-item">
                    <button class="page-link" type="button" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Ir para página anterior"
                            onclick="alteraPagina(paginacao.number - 1)">
                        &lt;
                    </button>
                </li>

                <li id="li-pagina-atual" class="page-item active">
                    <button id="controlador-pagina-atual" class="page-link" type="button" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Página atual">
                        &ndash;
                    </button>
                </li>

                <li id="li-pagina-seguinte" class="page-item">
                    <button class="page-link" type="button" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Ir para próxima página"
                            onclick="alteraPagina(paginacao.number + 1)">
                        &gt;
                    </button>
                </li>

                <li id="ultima-pagina" class="page-item">
                    <button class="page-link" type="button" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="Ir para última página"
                            onclick="alteraPagina(paginacao.totalPages - 1)">
                        &raquo;
                    </button>
                </li>
            </ul>
        </nav>

        <!-- Tabela de Produtos para Venda -->
        <table class="table table-striped text-center"
               th:if="${#strings.toUpperCase(tipoProduto) == 'VENDA'}">
            <thead th:replace="fragments/produto/tabela-produto::header-tabela
            (${ {
                'ID',
                'Descrição',
                'Preço de Venda',
                'Qtd. Estoque'
            } })">
            </thead>

            <tbody>
                <tr th:each="produto : ${produtos}">
                    <td th:text="${produto.idProduto}"></td>
                    <td th:text="${produto.descricaoBasica}"></td>
                    <td>
                        <div class="d-inline-flex me-2" th:text="'R$ ' + ${produto.receita.precosReceita[0].preco}"></div>
                        <button id="button-mostra-precos" class="d-inline-flex btn btn-primary" type="button"
                                data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#modal-precos-produto-'+produto.idProduto}"
                                data-bs-produto="produto">
                            <i class="fa-solid fa-eye"></i>
                        </button>

                        <!-- Modal de demonstração de preço para o produto-->
                        <div th:if="${produto.receita != null and produto.receita.precosReceita != null}" class="modal fade" th:id="'modal-precos-produto-' + ${produto.idProduto}">
                            <div th:replace="fragments/produto/modal-precos::modal-precos(${produto.receita.precosReceita})"></div>
                        </div>
                    </td>
                    <td th:text="${produto.quantidadeEstoque}"></td>
                </tr>
            </tbody>
        </table>

        <!-- Tabela de Ingredientes -->
        <table class="table table-striped text-center"
               th:if="${#strings.toUpperCase(tipoProduto) == 'INGREDIENTE'}">
            <thead th:replace="fragments/produto/tabela-produto::header-tabela
            (${ {
                'ID',
                'Descrição',
                'Marca',
                'Qtd. Estoque',
                'Custo',
                'Local Compra'
            } })">
            </thead>

            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.idProduto}"></td>
                <td th:text="${produto.descricaoBasica}"></td>
                <td th:text="${produto.marca != null} ? ${produto.marca.nome} : '-'"></td>
                <td th:text="${produto.quantidadeEstoque} != null ? ${produto.quantidadeEstoque} : ''"></td>
                <td th:if="${!produto.comprasProduto.isEmpty()}"
                    th:text="'R$ ' + ${produto.comprasProduto[0].precoDaUnidade}"></td>
                <td th:if="${produto.comprasProduto.isEmpty()}" th:text="'-'" title="Sem Registro"
                    data-bs-toggle="tooltip" data-bs-placement="top"></td>
                <td th:if="${!produto.comprasProduto.isEmpty()}"
                    th:text="${produto.comprasProduto[0].compra.fornecedor.pessoa.nome}"></td>
                <td th:if="${produto.comprasProduto.isEmpty()}" th:text="'-'" title="Sem Registro"
                    data-bs-toggle="tooltip" data-bs-placement="top"></td>
            </tr>
            </tbody>
        </table>

    </div>
</body>
</html>
